.viewall{
    float: right;
    font-size: 15px;
    color: #566f81;
}
.margintop1{
    margin-top: 24px;
   color: #566f81;

}
.hr{
    word-wrap: break-word;
    width: 160px;
    float: left;
     margin-top: 11px;
   
}
