.insur {
    width: 100;
    padding-right: 15px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 123px;
    background-color:rgb(0,6,84);
    margin-top: 120px;


}
.insutance{
    padding-top: 33px;
    font-size: 20px;
    color: white;
    margin-bottom: 300px;
}
.flex-item {
display: flex;
    border: 1px solid black;
    padding: 10px;
    margin: 0px;
    width: 100%; /* Set equal width for each flex item */
    padding-top:47px;
    margin-bottom: 300px;
}

.inline-div1 {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    background-color: rgb(246,246,246);
    text-align: center;
    justify-content: center !important;
    align-items: center !important;
    padding: 10px;
}


 
  .searchinputs{
    width: 171px;
    outline: noun;
    outline: none; 
    margin-left: 14px;
    font-size: 16px;
    padding: 8px 0px 0px 0px;

 }

 .searchinputss{
    width: 126px;
    outline: noun;
    outline: none;
    margin-left: 12px; 
font-size: 15px;
padding: 4px;
}

.primary{
    background-color:rgb(0,6,84);
    color: white;
    padding: 5px 10px 6px 10px;
    outline: none !important;
    border: none;

 
}



    .searchcontanier{
        width: 100;
        padding-right: 15px;
        padding-left: 1px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height: 126px;
        background-color: rgb(0,6,84);
        
    }
    .lastinput{
        margin: 10px 0; /* Add margin to top and bottom */
        padding: 12px; /* Add padding */
        border: none; /* Remove the default border */
        border-bottom: 1px solid red; /* Add a red bottom border */
        outline: none; /* Remove the outline on focus */
        width: 100%; /* Make the input fields full width */
        background-color: rgb(246,246,246);
    }




    

    .custom-input {
        margin: 10px -16px; /* Add margin to top and bottom */
        padding: 12px; /* Add padding */
        border: none; /* Remove the default border */
        border-bottom: 1px solid red; /* Add a red bottom border */
        outline: none; /* Remove the outline on focus */
        width: 100%; /* Make the input fields full width */
        background-color: rgb(246,246,246);
    }
.benifits1{
    width: 515px;
    padding: 11px; /* Add padding */
        border: none; /* Remove the default border */
        border-bottom: 1px solid red; /* Add a red bottom border */
        outline: none; /* Remove the outline on focus */

        background-color: rgb(246,246,246);
   margin-left: -23px;
}
.benifits1{
    width: 515px;
    padding: 11px; /* Add padding */
        border: none; /* Remove the default border */
        border-bottom: 1px solid red; /* Add a red bottom border */
        outline: none; /* Remove the outline on focus */

        background-color: rgb(246,246,246);
   margin-left: -25px;
}
.benifits2{
    width: 515px;
    padding: 11px; /* Add padding */
        border: none; /* Remove the default border */
        border-bottom: 1px solid red; /* Add a red bottom border */
        outline: none; /* Remove the outline on focus */

        background-color: rgb(246,246,246);
   margin-left: -17px;
}

.centered-div {
    text-align: center;
    margin-top: 3px;
}



.primary2{
   
    background-color: rgb(212,39,41);
    color: white;
    padding: 6px 17px 6px 20px;
    margin-left: -15px;

 
}


.result{
    font-size: 22px;
}


    /* @media (max-width: 700px) {
        .col-2 {
            width: 100%;
        }
    } */
    /* Default styles for the form */
/* .row {
    margin-bottom: 20px;
} */

/* .form-group {
    margin-bottom: 10px; /* Add some spacing between form groups */
/* }  */

/* Media query for screens smaller than 600px */
@media (max-width: 700px) {
    /* .col-md-3 {
        width: 100%; 
        margin-bottom: 10px; 
        
    } */
}
      
@media (max-width: 700px) {
    /* .col-md-6 {
        width: 100%; 
        margin-bottom: 12px; 
        text-align: center;
    } */
}
     
/*     

insurance search page */

.primary3{

    color: white;
    padding: 5px 10px 6px 10px;
    background-color: rgb(212,39,41) ;
    margin-bottom: 34px;
}
@media screen and (max-width: 800px) {
    /* Adjust the width of various input elements and textarea */
    .custom-input,
    .custom-input1,
    .benifits1,
    .benifits2,
    .lastinput,
    textarea {
      width: 100%;
      
    }
    
    /* Adjust the width of buttons within .button-group */
    .button-group button {
      width: 100%;
    }
  
    /* Adjust the width of elements with class .inline-div1 */
    .inline-div1 {
      width: 100%;
    }
  }
  