.align-center11{
    text-align: center;
    color: white;
}
.c-white{
    color: white;
}
.dec1{
    background: #D42729;
    color: white;
}
.dec1:hover{
    background: white;
    color: #D42729;
}
.mt-25{
    margin-top: 25px;
}
.img-set{
    width: 100%;
    height: 270px;
    margin-top: 30px;
}
.time_zone{
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 8px;
    background-color: #D42729;
    padding: 0px 9px;
    display: inline-block;
    border-radius: 4px;
    margin-top: 7px;
}
.setting13{
    text-align: left;
    padding: 30px;
}
#set112{
    text-align: left;
    margin-bottom: 15px;
    margin: 5px 0;
}

.umrah-bg{
    background: #FAFAFA;
    padding: 30px;
}

.umrah-bg h4{
    text-align: left;
    margin-bottom: 25px;
}
.set-input11{
    width: 100%;
    border: 1px solid #CED4DA;
    padding: 8px 13px;
    margin-top: 25px;
    outline-color: #D42729;
    font-size: 16px;
}
.umrah-h3{
    color: black;
}
.umrah-btn:hover{
    background: #211E3B ;
    color: white;
}
.umrah-btn{
    margin-top: 25px;
    background: #D42729 ;
    color: white;
    border: none;
}
.umrah-date{
    color: #D42729 ;
}


/* @media (max-width:990px) {
    .align-center11{
        position: absolute;
        /* z-index: 99; */
        /* top: 300px; */
        /* color: black;
    }
}  */

