.align-center11{
    text-align: center;
    color: white;
    justify-content: center;
}


.c-white{
    color: white;
}
.dec1{
    background: #D42729;
    color: white;
}
.dec1:hover{
    background: white;
    color: #D42729;
}
.mt-25{
    margin-top: 25px;
}
.img-set{
    width: 100%;
    height: 270px;
    margin-top: 30px;
}
.time_zone{
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 8px;
    background-color: #D42729;
    padding: 0px 9px;
    display: inline-block;
    border-radius: 4px;
    margin-top: 7px;
}
.setting13{
    text-align: left;
    padding: 30px;
}
#set112{
    text-align: left;
    margin-bottom: 15px;
    margin: 5px 0;
}

.umrah-bg{
    background: #FAFAFA;
    padding: 30px;
}

.umrah-bg h4{
    text-align: left;
    margin-bottom: 25px;
}
.set-input11{
    width: 100%;
    border: 1px solid #CED4DA;
    padding: 8px 13px;
    margin-top: 25px;
    outline-color: #D42729;
    font-size: 16px;
}
.umrah-h3{
    color: black;
}
.umrah-btn:hover{
    background: #211E3B ;
    color: white;
}
.umrah-btn{
    margin-top: 25px;
    background: #D42729 ;
    color: white;
    border: none;
}
.umrah-date{
    color: #D42729 ;
}
.content_wrapper1122{
    position: absolute;
    top: 30px;
    width: 100%;
    height: 100%;
    z-index: 99;
    height: 100%;
    display: flex;
    align-items: center;
}




/* holiday css */

.holidayImage{
    width: 100%;
    height: 150px;
    display: block;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#cardHoliday{
    margin: 0;
    padding: 0;
    max-width:255px;
    text-align:start;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0;
}
#cardHoliday p{
    padding-left: 15px;
    padding-top: 15px;
}
.card-btn-star{
    padding-top:0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    display: inline-flex;
    justify-content: inherit;
}
.limited-lines {
    font-size: 14px;
    font-weight: 700;
}
.image-con{
    position: relative; 
    display: inline-block;
}
.image-text1{
    position: absolute; 
    top: 5px; 
    left: 5px; 
    color: white; /* Text color */
    padding: 5px 10px; /* Padding around the text */
    font-size: 13px;
}
.image-text2 p{
    position: absolute; 
    bottom: 5px; 
    right: 10px; 
    color: white; /* Text color */
    font-size: 18px;
    margin-bottom: 0px !important;
}
.btn-danger{
    background: #D42729 !important;
    border: none;
}
.holidayHeader{
    color: #103552;
    font-weight: 300;
    margin-top: 30px;
    padding-left: 15px;
}
.hrHoliday{
    width: 200px; 
    margin-left:15px; 
    border: 1px solid #103552;
}
.linkholiday{
    display: flex;
    justify-content: right;
    margin-top: 50px;
    padding-right: 15px;
    color: #103552;
}
.imgHoliday{
    margin-top: 120px;
    width: 100%;
}