*,
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box !important
}

body {
    font-family: urw-din, sans-serif;
    font-weight: 400;
    background: #fff;
    font-size: 16px;
    word-wrap: break-word;
    color: #000;
    padding: 0 !important;
    box-sizing: border-box
}

body.overflohidden {
    overflow: hidden
}

@media (max-width: 767.8px) {
    body.overflohidden-md {
        overflow: hidden
    }
}

ul {
    list-style: none;
    padding: 0
}

a {
    color: #2f70a0;
    text-decoration: none;
    font-weight: 400;
    outline: none !important;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

a:hover,
a:focus {
    color: #1d4d71;
    text-decoration: none
}

p {
    color: #000
}

.containerLarge {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 25px
}

.inputFieldWrap {
    position: relative
}

.inputFieldWrap.error:after,
.inputFieldWrap.success:after {
    position: absolute;
    content: "";
    top: 18px;
    right: 17px;
    width: 17px;
    height: 17px
}

.inputFieldWrap.selectMenuError.error:after,
.inputFieldWrap.selectMenuError.success:after {
    position: absolute;
    content: "";
    top: 18px;
    right: 36px;
    width: 17px;
    height: 17px
}

.inputFieldWrap.error:after {
    background: url("../images/input-error.svg") no-repeat;
    background-size: 100% auto
}

.inputFieldWrap.success:after {
    background: url("../images/input-success.svg") no-repeat;
    background-size: 100% auto
}

.inputFieldWrap .formMessageIcon {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 17px;
    height: 17px
}

.inputFieldWrap .formMessageIcon img {
    display: block;
    width: 100%;
    height: auto
}

.inputFieldWrap.error input {
    border: 1px solid #8F5C62 !important;
    color: #8F5C62 !important
}

.inputFieldWrap.success input {
    border: 1px solid #99B393 !important;
    color: #99B393 !important
}

.inputfieldError {
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
    padding-left: 15px
}

.inputfieldError.error {
    color: #8F5C62
}

.inputfieldError.success {
    color: #99B393
}

.inputFormMessageWrap {
    display: none
}

.inputFormMessageWrap.active {
    display: block;
    margin-top: 20px
}

.inputFormMessage {
    padding: 7px 15px;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    border-radius: 5px !important;
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
    color: #fff
}

.inputFormMessage span {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px
}

.inputFormMessage.success {
    background: #99B393
}

.inputFormMessage.informational {
    background: #4D4D4C
}

.inputFormMessage.warning {
    background: #8F5C62
}

.customCheckboxStyle .custom-control-label::before {
    background: #FFFFFF !important;
    border: 1px solid #CCCCCC !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16)
}

.customCheckboxStyle .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background: #FFFFFF !important;
    border: 1px solid #f2c68f !important
}

.customCheckboxStyle .custom-control-label::after {
    width: 12px !important;
    height: 12px !important;
    top: 6px;
    left: -22px;
    border-radius: 3px !important
}

.customCheckboxStyle .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background: #F2C68F !important
}

.customRadioStyle .custom-control-label::before {
    background: #FFFFFF !important;
    border: 1px solid #CCCCCC !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16)
}

.customRadioStyle .custom-radio .custom-control-input:checked~.custom-control-label::before {
    border: 1px solid #f2c68f !important
}

.customRadioStyle .custom-control-label::after {
    width: 12px !important;
    height: 12px !important;
    top: 6px;
    left: -22px;
    border-radius: 50% !important
}

.customRadioStyle .custom-radio .custom-control-input:checked~.custom-control-label::after {
    background: #F2C68F !important
}

.custom-select {
    background: url(../images/dropdown-arrow.svg) no-repeat 96% 22px
}

.custom-select-2 {
    position: relative
}

.custom-select-2 select {
    display: none
}

.custom-select-2 .select-selected:after {
    position: absolute;
    content: "";
    top: 12px;
    right: 0;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #aaaaaa transparent transparent transparent
}

.custom-select-2 .select-selected.select-arrow-active {
    border-bottom: none
}

.custom-select-2 .select-selected.select-arrow-active:after {
    border-color: transparent transparent #aaaaaa transparent;
    top: 6px
}

.custom-select-2 .select-selected {
    color: #4D4D4C;
    font-size: 18px;
    padding: 0 10px;
    cursor: pointer
}

@media (max-width: 767.8px) {
    .custom-select-2 .select-selected {
        font-size: 18px
    }
}

.custom-select-2 .select-items {
    position: absolute;
    padding: 15px 15px;
    background-color: #fff;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    top: 100%;
    left: -15px;
    right: 0;
    z-index: 999;
    width: 250px
}

.custom-select-2 .select-items div {
    color: #4D4D4C;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 15px
}

.custom-select-2 .select-hide {
    display: none
}

.custom-select-2 .select-items div:hover,
.custom-select-2 .same-as-selected {
    background-color: #FEF9F4
}

.custom-select-3 {
    position: relative;
    display: block;
    width: 250px
}

@media (max-width: 991.8px) {
    .custom-select-3 {
        width: 100%
    }
}

.custom-select-3 select {
    display: none
}

.custom-select-3 .select-selected {
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    height: 52px;
    line-height: 50px;
    padding: 0 15px !important;
    font-size: 14px;
    font-weight: 300;
    color: #606060;
    outline: none;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    border-radius: 4px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    cursor: pointer
}

.custom-select-3 .select-selected:after {
    position: absolute;
    content: "";
    top: 23px;
    right: 15px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #aaaaaa transparent transparent transparent
}

.custom-select-3 .select-selected:hover {
    border: 1px solid #4D4D4C;
    color: #4D4D4C !important
}

.custom-select-3 .select-selected:focus {
    border: 1px solid #4D4D4C;
    color: #C9C9C9 !important
}

.custom-select-3 .select-selected.select-arrow-active {
    color: #C9C9C9 !important
}

.custom-select-3 .select-selected.select-arrow-active:after {
    border-color: transparent transparent #aaaaaa transparent;
    top: 17px
}

.custom-select-3 .select-items {
    position: absolute;
    padding: 15px 0;
    background-color: #fff;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    width: 250px;
    max-height: 250px;
    overflow: auto
}

@media (max-width: 991.8px) {
    .custom-select-3 .select-items {
        width: 100%
    }
}

.custom-select-3 .select-items div {
    color: #606060;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 15px
}

.custom-select-3 .select-hide {
    display: none
}

.custom-select-3 .select-items div:hover,
.custom-select-3 .same-as-selected {
    background-color: #fff0de
}

.contentBasePages h2 {
    font-size: 22px
}

.contentBasePages p {
    font-size: 14px;
    margin-bottom: 30px;
    color: #606060
}

.homeWrapper .siteHeader .headerContainer {
    position: relative
}

.homeWrapper .siteHeader .headerContainer:after {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    display: block;
    content: "";
    width: 68px;
    height: 77px;
    position: absolute;
    right: -28px;
    top: 0;
    background: #FEF9F4;
    z-index: -1
}

@media (max-width: 991.8px) {
    .homeWrapper .siteHeader .headerContainer:after {
        display: none
    }
}

.homeWrapper .siteHeader .headerLeft {
    background: #FEF9F4;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

@media (max-width: 991.8px) {
    .homeWrapper .siteHeader .headerLeft {
        background: none
    }
}

.homeWrapper .siteHeader.headerSchroll .headerContainer:before,
.homeWrapper .siteHeader.headerSchroll .headerContainer:after {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 0
}

.homeWrapper .siteHeader.headerSchroll .headerContainer .headerLeft {
    background: #fff
}

.headerLeft {
    float: right;
    height: 77px;
    padding-left: 20px;
    padding-top: 18px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

@media (max-width: 991.8px) {
    .headerLeft {
        height: auto;
        padding-left: 0
    }
}

@media (max-width: 575.8px) {
    .headerLeft {
        padding-top: 0
    }
}

.siteHeader {
    padding: 0 25px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    min-height: 77px;
    background: #fff;
    z-index: 999;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    border-bottom: 0px solid #eee
}

@media (max-width: 991.8px) {
    .siteHeader {
        background: #FEF9F4;
        padding: 0
    }
}

@media (max-width: 767.8px) {
    .siteHeader {
        min-height: 64px
    }
}

.siteHeader:after {
    clear: both;
    display: block;
    content: ""
}

.siteHeader.headerSchroll {
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1)
}

@media (max-width: 991.8px) {
    .siteHeader.headerSchroll {
        background: #fff
    }
}

.siteHeader .headerContainer {
    max-width: 100%;
    margin: 0 auto;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    padding: 0 15px
}

@media (max-width: 991.8px) {
    .siteHeader .headerContainer {
        padding: 0 15px
    }
}

@media (max-width: 575.8px) {
    .siteHeader .headerContainer {
        padding: 15px 15px
    }
}

.siteLogo {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    width: 188px;
    float: left;
    margin: 26px 0 0 1px;
    padding: 0;
    font-size: 12px
}

@media (max-width: 991.8px) {
    .siteLogo {
        width: 164px
    }
}

@media (max-width: 767.8px) {
    .siteLogo {
        width: 146px;
        margin: 26px 0 0 0
    }
}

@media (max-width: 575.8px) {
    .siteLogo {
        margin: 8px 0 0 0
    }
}

.siteLogo img {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    width: 100%;
    height: auto
}

.userDropdown {
    float: right;
    padding-left: 31px;
    margin: 3px 0 0 0;
    position: relative
}

@media (max-width: 991.8px) {
    .userDropdown {
        padding-left: 20px
    }
}

@media (max-width: 767.8px) {
    .userDropdown {
        border-left: none;
        padding-left: 0;
        margin: 0 70px 0 0
    }
}

.userDropdown:before {
    display: block;
    content: "";
    width: 1px;
    height: 26px;
    background: #000000;
    position: absolute;
    left: 0;
    top: 5px
}

@media (max-width: 767.8px) {
    .userDropdown:before {
        display: none
    }
}

.userDropdown .dropdown-toggle {
    background: none;
    outline: none;
    border: none;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
    padding: 8px 0
}

.userDropdown .dropdown-toggle:hover {
    color: #000
}

.userDropdown .dropdown-toggle:after {
    font-size: 14px
}

.userDropdown.show .dropdown-toggle {
    color: #000
}

.userDropdown .dropdown-menu {
    margin-top: 21px;
    padding: 0;
    border-radius: 0
}

@media (max-width: 767.8px) {
    .userDropdown .dropdown-menu {
        margin-top: 14px
    }
}

.userDropdown .dropdown-menu ul {
    margin: 0
}

.userDropdown .dropdown-menu ul li {
    border-bottom: 1px solid #fff
}

.userDropdown .dropdown-menu ul li:last-child {
    border-bottom: none
}

.userDropdown .dropdown-menu ul li a {
    background: #4d4d4b;
    display: block;
    text-align: left;
    padding: 14px 15px;
    font-size: 12px;
    font-weight: 400;
    color: #fff
}

.userDropdown .dropdown-menu ul li a:hover {
    background: #242423
}

.userDropdown.userDropdownSteps {
    position: absolute;
    right: 0;
    top: 25px
}

@media (max-width: 991.8px) {
    .userDropdown.userDropdownSteps {
        margin: 5px 15px 0 0
    }
}

@media (max-width: 767.8px) {
    .userDropdown.userDropdownSteps {
        top: 17px
    }
}

.userDropdown.userDropdownSteps:before {
    display: none
}

.userDropdown.userDropdownSteps .dropdown-toggle {
    padding: 4px 0
}

.userDropdown.userDropdownSteps .dropdown-menu {
    margin-right: 0;
    margin-top: 21px;
    padding: 0
}

@media (max-width: 991.8px) {
    .userDropdown.userDropdownSteps .dropdown-menu {
        margin-right: 0
    }
}

@media (max-width: 767.8px) {
    .userDropdown.userDropdownSteps .dropdown-menu {
        margin-right: 0
    }
}

.loginNav {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    float: right;
    margin: 3px 0 0 0;
    padding-left: 31px;
    position: relative
}

@media (max-width: 991.8px) {
    .loginNav {
        padding-left: 20px
    }
}

@media (max-width: 767.8px) {
    .loginNav {
        display: none
    }
}

.loginNav:before {
    display: block;
    content: "";
    width: 1px;
    height: 26px;
    background: #000000;
    position: absolute;
    left: 0;
    top: 5px
}

.loginNav a {
    display: inline-block;
    padding: 8px 0;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    position: relative
}

.loginNav a:before {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 0;
    width: 30px;
    height: 1px;
    background: #F2C68F;
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0
}

.loginNav a:hover:before {
    opacity: 1
}

.loginNav a.active:before {
    opacity: 1;
    width: 30px;
    height: 1px;
    background: #F2C68F;
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0
}

.mainNav {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    display: block;
    list-style: none;
    margin: 3px 0 0 0;
    padding: 0;
    float: right
}

@media (max-width: 767.8px) {
    .mainNav {
        display: none
    }
}

.mainNav ul {
    padding: 0;
    list-style: none;
    display: block;
    margin: 0
}

.mainNav ul li {
    display: inline-block;
    margin: 0;
    padding: 0 26px;
    position: relative
}

@media (max-width: 991.8px) {
    .mainNav ul li {
        padding: 0 10px
    }
}

.mainNav ul li a {
    display: inline-block;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase
}

.mainNav ul li a:before {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 0;
    width: 40px;
    height: 1px;
    background: #F2C68F;
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0
}

.mainNav ul li a:hover:before {
    opacity: 1
}

.mainNav ul li a.active:before {
    opacity: 1;
    width: 40px;
    height: 1px;
    background: #F2C68F;
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0
}

.mainNav ul li:hover .sub-menu {
    display: block
}

.loginBtn {
    display: none;
    float: right;
    margin-right: 40px;
    margin-top: 3px
}

@media (max-width: 767.8px) {
    .loginBtn {
        display: block
    }
}

.loginBtn a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background: blue;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    border-radius: 5px !important;
    padding: 7px 15px
}

.loginBtn a:hover {
    color: #fff
}

.sideBar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    padding-top: 50px;
    background: #FEF9F4;
    border: 1px solid #FEF9F4;
    overflow-y: auto;
    z-index: 9991
}

#navSidebar {
    display: none
}

#navSidebar.open {
    display: block
}

.sideNav {
    margin: 30px 0;
    text-align: center
}

.sideNav ul {
    padding: 0 10px 0 10px;
    margin: 0 0 20px 0
}

.sideNav ul li {
    display: block;
    text-align: center;
    margin-bottom: 22px
}

.sideNav ul li a {
    display: block;
    color: #000;
    padding: 15px 10px;
    text-align: left;
    font-size: 14px;
    text-align: center;
    font-weight: 400
}

.sideNav ul li a:hover {
    color: #1f3852
}

.sideNav ul li a.active {
    color: #1f3852
}

#hamburgerSideNav {
    position: fixed !important;
    z-index: 9999;
    right: 20px;
    top: 19px;
    display: none
}

@media (max-width: 767.8px) {
    #hamburgerSideNav {
        display: block;
        top: 19px
    }
}

@media (max-width: 575.8px) {
    #hamburgerSideNav {
        top: 16px
    }
}

.hamburgerIcon {
    width: 40px;
    height: 35px;
    position: relative;
    z-index: 9999;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg)
}

.hamburgerIcon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    background: #000000;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out
}

.hamburgerIcon strong {
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    display: block
}

.hamburgerIcon.open strong {
    display: none
}

.hamburgerIcon.open span {
    background: #000000
}

.hamburgerIcon span:nth-child(even) {
    left: 50%
}

.hamburgerIcon span:nth-child(odd) {
    left: 0px
}

.hamburgerIcon span:nth-child(1),
.hamburgerIcon span:nth-child(2) {
    top: 0px
}

.hamburgerIcon span:nth-child(3),
.hamburgerIcon span:nth-child(4) {
    top: 16px;
    display: none
}

.hamburgerIcon span:nth-child(5),
.hamburgerIcon span:nth-child(6) {
    top: 30px
}

.hamburgerIcon.open span:nth-child(1),
.hamburgerIcon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.hamburgerIcon.open span:nth-child(2),
.hamburgerIcon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.hamburgerIcon.open span:nth-child(1) {
    left: 3px;
    top: 10px
}

.hamburgerIcon.open span:nth-child(2) {
    left: calc(50% - 3px);
    top: 10px
}

.hamburgerIcon.open span:nth-child(3) {
    left: -50%;
    opacity: 0
}

.hamburgerIcon.open span:nth-child(4) {
    left: 100%;
    opacity: 0
}

.hamburgerIcon.open span:nth-child(5) {
    left: 3px;
    top: 24px
}

.hamburgerIcon.open span:nth-child(6) {
    left: calc(50% - 3px);
    top: 24px
}

#load {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999
}

#loader-wrapper .centerLoaderImg {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    z-index: 1001
}

#loader-wrapper .centerLoaderImg img {
    width: 100%;
    height: auto
}

#loader-wrapper .centerLoaderCss {
    background: #2f6d9d;
    z-index: 9999;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: -25px;
    margin-top: -25px;
    border: 8px solid #2999bd;
    border-radius: 50%;
    border-top: 8px solid #20395b;
    border-bottom: 8px solid #20395b;
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite
}

#loader-wrapper .loader-section {
    position: fixed;
    z-index: 8888;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

#loader-wrapper .loader-section.section-left {
    left: 0;
    background: #FEF9F4
}

#loader-wrapper .loader-section.section-right {
    right: 0;
    background: #FEF9F4
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out
}

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.loaded #loader-wrapper .centerLoaderImg,
.loaded #loader-wrapper .centerLoaderCss {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

.loaded .lds-ellipsis {
    opacity: 0;
    transition: all .5s ease-out
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    margin-left: -32px;
    margin-top: -32px
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #6bcae8;
    animation-timing-function: cubic-bezier(0, 1, 1, 0)
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0)
    }

    100% {
        transform: translate(19px, 0)
    }
}

.completedProjects {
    background: #fef6ee;
    padding: 10px;
    border: 1px solid #eee;
    margin-bottom: 15px
}

.completedProjects .cpContentWrap {
    position: relative;
    padding-left: 140px;
    min-height: 120px
}

@media (max-width: 991.8px) {
    .completedProjects .cpContentWrap {
        padding-left: 115px;
        min-height: 100px
    }
}

@media (max-width: 767.8px) {
    .completedProjects .cpContentWrap {
        margin-bottom: 15px
    }
}

.completedProjects .cpContentWrap .cpImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 120px;
    border: 1px solid #eee;
    background: #ccc
}

@media (max-width: 991.8px) {
    .completedProjects .cpContentWrap .cpImage {
        width: 100px;
        height: 100px
    }
}

.completedProjects .cpContentWrap .cpImage img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.completedProjects .cpContentWrap .cpContentInner {
    padding-top: 20px
}

.completedProjects .cpContentWrap .cpContentInner span {
    display: block;
    font-size: 12px
}

.completedProjects .cpContentWrap .cpContentInner span.cpId {
    color: #99b393;
    margin-bottom: 5px;
    font-weight: 600
}

.completedProjects .cpContentWrap .cpContentInner span.cpStartDate {
    color: #8f5c62;
    font-weight: 600
}

.completedProjects .cpContentWrap .cpContentInner strong {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 18px
}

.completedProjects .cpReviewBox {
    padding-top: 20px
}

@media (max-width: 767.8px) {
    .completedProjects .cpReviewBox {
        margin-bottom: 10px;
        padding-top: 0
    }
}

.completedProjects .cpReviewBox .cpStarRating {
    font-size: 12px;
    display: block;
    margin-bottom: 5px
}

@media (max-width: 767.8px) {
    .completedProjects .cpReviewBox .cpStarRating {
        text-align: center
    }
}

.completedProjects .cpReviewBox p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 18px
}

@media (max-width: 767.8px) {
    .completedProjects .cpReviewBox p {
        text-align: center
    }
}

.completedProjects .cpReviewBox a.addReview {
    margin-top: 20px;
    display: block;
    font-size: 16px;
    color: #000;
    text-decoration: underline
}

@media (max-width: 767.8px) {
    .completedProjects .cpReviewBox a.addReview {
        margin-top: 0;
        text-align: center
    }
}

.completedProjects .cpActionsBtns {
    text-align: right;
    padding-top: 34px
}

@media (max-width: 991.8px) {
    .completedProjects .cpActionsBtns {
        text-align: center;
        padding-top: 10px
    }
}

.completedProjects .cpActionsBtns div {
    display: inline-block
}

@media (max-width: 767.8px) {
    .completedProjects .cpActionsBtns div {
        display: block;
        padding-top: 10px
    }
}

.completedProjects .cpActionsBtns a {
    width: auto;
    display: inline-block;
    margin-left: 10px
}

@media (max-width: 1199.8px) {
    .completedProjects .cpActionsBtns a {
        padding: 15px 10px;
        margin-left: 5px
    }

    .completedProjects .cpActionsBtns a:first-child:after {
        display: block;
        clear: both;
        content: ""
    }
}

.siteFooter {
    background: #fff
}

.siteFooter .siteFooterContainer {
    padding: 0 40px
}

@media (max-width: 991.8px) {
    .siteFooter .siteFooterContainer {
        padding: 0 15px
    }
}

.siteFooter .footerTop {
    padding: 15px 0 0 0;
    border-top: 1px solid #efefef
}

.siteFooter .siteLogoFooter {
    max-width: 123px;
    display: inline-block;
    margin-bottom: 15px
}

@media (max-width: 991.8px) {
    .siteFooter .siteLogoFooter {
        display: none
    }
}

.siteFooter .siteLogoFooter a {
    display: block;
    max-width: 120px
}

.siteFooter .siteLogoFooter img {
    width: 100%;
    height: auto
}

.siteFooter .footerNav {
    padding-top: 15px
}

@media (max-width: 991.8px) {
    .siteFooter .footerNav {
        margin-bottom: 40px
    }
}

.siteFooter .footerNav ul {
    padding: 0;
    margin: 0
}

.siteFooter .footerNav ul li {
    display: block;
    margin: 0 0 3px 0
}

.siteFooter .footerNav ul li a {
    color: #000;
    font-size: 12px;
    font-weight: 400
}

.siteFooter .footerNav ul li a:hover {
    color: #f1c58f
}

.siteFooter .contactDetails {
    padding-top: 15px
}

@media (max-width: 991.8px) {
    .siteFooter .contactDetails {
        margin-bottom: 40px
    }
}

.siteFooter .contactDetails h3 {
    font-size: 15px;
    color: #000;
    font-weight: 400;
    display: block;
    margin-bottom: 25px
}

.siteFooter .contactDetails .phoneNumbers {
    position: relative;
    padding-left: 70px
}

@media (max-width: 767.8px) {
    .siteFooter .contactDetails .phoneNumbers {
        margin-bottom: 40px
    }
}

.siteFooter .contactDetails .phoneNumbers span {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 400;
    font-size: 12px;
    color: #000
}

.siteFooter .contactDetails .phoneNumbers ul {
    margin: 0;
    padding: 0
}

.siteFooter .contactDetails .phoneNumbers ul li {
    font-size: 12px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 7px;
    position: relative;
    padding-left: 30px;
    padding-top: 2px
}

.siteFooter .contactDetails .phoneNumbers ul li span {
    display: block;
    width: 17px;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 11px
}

.siteFooter .contactDetails .phoneNumbers ul li span img {
    width: 16px;
    height: 11px
}

.siteFooter .contactDetails .phoneNumbers ul li a {
    font-weight: 300;
    font-size: 12px;
    color: #000000
}

.siteFooter .socialIcons {
    padding-top: 15px;
    margin: 0 0 15px 0
}

.siteFooter .socialIcons h3 {
    font-size: 15px;
    color: #000;
    font-weight: 400;
    display: block;
    margin-bottom: 25px;
    text-transform: uppercase
}

.siteFooter .socialIcons ul {
    display: block;
    margin: 0
}

.siteFooter .socialIcons ul li {
    display: inline-block;
    margin-right: 5px
}

.siteFooter .socialIcons ul li a {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 14px;
    background: #c4cad0;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    border-radius: 50%
}

.siteFooter .socialIcons ul li a:hover {
    background: #000;
    color: #fff
}

.siteFooter .copyRight {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #808080;
    border-top: 1px solid #eee;
    padding: 40px 0 40px 0
}

@media (max-width: 767.8px) {
    .siteFooter .copyRight {
        padding: 20px 0 30px 0
    }
}

.siteFooter .footerBottom {
    background: #eae5de;
    padding: 20px 15px 15px 15px
}

.subscribeSectionWrap .subscribeSection h3 {
    font-size: 15px;
    color: #000;
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase
}

.subscribeSectionWrap .subscribeSection .subscribeFrom {
    display: block;
    position: relative;
    padding-right: 90px;
    max-width: 250px
}

.subscribeSectionWrap .subscribeSection .subscribeFrom input[type="email"] {
    width: 100%;
    background: #ffffff;
    border: 1px solid #CCCCCC;
    height: 40px;
    padding: 5px 15px !important;
    font-size: 14px;
    font-weight: 300;
    color: #4D4D4C;
    outline: none
}

.subscribeSectionWrap .subscribeSection .subscribeFrom input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 40px;
    padding: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400
}

/*# sourceMappingURL=updates.css.map */